<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base :: layout(~{::title},~{::section})">
<head>
<meta charset=" UTF-8">
<title>Dashboard</title>
</head>

<body>
	<section>
		<div class="container text-center">
			<div class="card">
				<div class="card-body">
					<img style="width: 200px; height: 200px;" class="profile_picture"
						th:src="@{'/img/'+${user.imageurl}}" alt="">
				</div>
				<h1 class="text-center mt-2 text-secondary fst-italic">Start
					Adding Your Contact On Cloud..</h1>
				<a th:href="@{/user/add_contact}"
					class="btn btn-primary btn-block text-uppercase m-4"> Add Your
					Contact </a>
				<p class="m-3">Welcome to <span class="fw-bold" th:text="${user.name}"></span> the ultimate solution
					for managing your personal and professional contacts with ease and
					efficiency. Our platform is designed to help you keep track of your
					connections, organize important information, and maintain a
					seamless workflow.</p>
			</div>
		</div>
	</section>
</body>

</html>