<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title,content)">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<title th:replace="${title}"></title>

</head>

<body>

	<!-- this is navbar  -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
		<a class="navbar-brand ps-4" href="#">Smartcontactmanager</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mb-2 mb-lg-0 pe-3">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/about}">about</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/signin}">login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/signup}">signup</a>
				</li>
			</ul>
		</div>
	</nav>

	<div th:insert="${content}"></div>

	<h1 class="text-center bg-primary" style="background-color: aqua;color:white;text-align: 
	center;position: fixed;bottom: 0;width: 100%;">@Copyright-Contact	 Manager</h1>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>